html, 
body {
  margin: 0;
}

section {
  position: fixed;
  color: #fff;
  z-index: 99;
}

h1, p {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 42px;
}

ul {
  margin: 0;
}

header {
  display: flex;
  top: 0;
  left: 0;
  width: 90vw;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.shower {
  cursor: pointer;
  padding: 8px;
}

.hints {
  padding: 0 32px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.hints.show {
  opacity: 1;
  pointer-events: initial;
}

.hints span {
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

section span {
  color: #000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
.output {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.listen {
  position: absolute;
  bottom: 64px;
  margin: auto;
}

button {
  padding: 10px 32px;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #2a2a2a;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

@media(max-width: 600px) {
  header {
    padding: 0 16px;
  }
  h1 {
    font-size: 18px;
  }
  .shower {
    font-size: 24px;
  }
}